---
title: Posts
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
---

{% set postslist = collections.posts %}
{% if postslist | length > 0 %}
  {% include "postslist.njk" %}
{% else %}
  <p class="coming-soon">0 entries found. coming soon.</p>
{% endif %}