---
title: Posts
layout: layouts/home.njk
image: /img/remote/4025_philosopher_pondering.jpg
permalink: /posts/
headerImagePosition: center 70%
eleventyNavigation:
  key: Posts
  order: 2
---

{% set postslist = collections.posts %}
{% if postslist | length > 0 %}
  {% include "postslist.njk" %}
{% else %}
  <p class="coming-soon">0 entries found. coming soon.</p>
{% endif %}